
%dl.events
  - events.each do |event|
    %dt= event.title
    %dd.description= event.description
    %dd.dates= show_event_dates event
    %dd.location= event.location
    - if event.link
      %dd.link
        %a{ :href => event.link } Más información

