%h1 Contactate con la Asociación Uruguaya de Go

%p Para contactarte con la Asociación, por cualquier consulta relativa a las reuniones semanales o a cualquier otra cosa relativa al go en Uruguay, podés mandarnos un mail a gouruguay@gmail.com.
