%h2 Asociación Uruguaya de Go
%p
  La Asociación Uruguaya de Go, afiliada a la
  %a{ :href => 'http://intgofed.org/' } International Go Federation
  y a la Federación Iberoamericana de Go, es la asociación que nuclea y representa a los jugadores uruguayos del juego de go.

- unless (current_events = Calendar.current_events).empty?
  %h1 Qué está pasando ahora mismo?
  = partial :_lista_eventos, :locals => { :events => current_events }

- unless (future_events = Calendar.future_events).empty?
  %h2 Lo que se viene
  = partial :_lista_eventos, :locals => { :events => future_events.first(2) }
  %p
    %a{ :href => '/calendario' } Ver calendario completo
