%h1 Asociaci贸n Uruguaya de Go
%p
  La Asociaci贸n Uruguaya de Go, afiliada a la
  %a{ :href => 'http://intgofed.org/' } International Go Federation
  y a la Federaci贸n Iberoamericana de Go, es la asociaci贸n que nuclea y representa a los jugadores uruguayos del juego de go.
