body
  :background #EEE
  :font-family Helvetica, Arial
  :margin-left   auto
  :margin-right  auto
  :width 768px

// Header stuff
#header
  :margin-top    20px
  :background #DDD
  // Title
  h1
    :color #FFF
    :padding 10px
    :background url(/img/randomheader.jpg) no-repeat #000
    :text-align right
    :height 180px
  // Menu
  ul
    :display block
    :margin 0px
    :padding 0px
    :position relative
    :top -22px
    li
      :display block
      :margin 0px
      :padding 0px
      :float left
      :text-align center
      :border 1px solid #000
      a
        :display block
        :width 126px
        :background #CCC
        :text-decoration none
        :color #000
      a:hover
        :background #DDA
      span.desc
        :display none
  #clear
    :clear both

// Rest of body stuff
#content
  :position relative
  :top -30px
  :clear both
  :padding 10px
  :padding-top 0px
  :background #DDD
