!!! 1.0 strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => 'es' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=UTF-8' }
    %title Asociación Uruguaya de Go
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/default.css', :media => 'screen' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/print.css', :media => 'print' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/facebox.css', :media => 'screen' }
    = javascript :jquery, :facebox

  %body
    #header
      %h1 Asociación Uruguaya de Go
      %ul
        %li
          %a{ :href => '/' } Principal
          %span.desc Página principal
        %li
          %a{ :href => '/queesgo' } Qué es go?
          %span.desc Descripción, reglas, breve historia"
        %li
          %a{ :href => '/calendario' } Calendario
          %span.desc Torneos y otros eventos importantes a nivel nacional e internacional"
        %li
          %a{ :href => '/torneos' } Torneos
          %span.desc Lista de torneos, con resultados"
        %li
          %a{ :href => '/contacto' } Contacto
          %span.desc Envianos un mensaje"
      #clear= " "
    #content
      = yield
