%h3 Qué es el go?
%p
  El go es un juego milenario de origen chino. Se trata de un juego de estrategia abstracto de tablero.

%h3 Qué se necesita para jugar?
%p
  Un tablero con una cuadrícula de 19x19 y fichas blancas y negras (llamadas <i>piedras</i>)

%h3 Y cómo se juega?
%p
  Un jugador juega con las piedras blancas, el otro toma las piedras negras. El jugador con las piedras negras juega primero, y coloca una de sus piedras en una intersección vacía del tablero. Luego, el jugador de las piedras blancas hace lo mismo. Luego continúan alternándose.
%p
  Si una piedra, o grupo de piedras del mismo color, es completamente rodeada por piedras del otro color, es <i>capturada</i> y se la remueve del tablero.

%h3 Así de fácil?
%p
  Sí, así de fácil. Hay un par de reglas más, que sirven para evitar que una posición se repita infinitamente, pero por ahora no importa.

%h3 Entonces el objetivo del juego es capturar las piedras del oponente?
%p
  No. El objetivo es controlar la mayor parte del tablero, utilizando tus piedras, y evitando que el oponente las capture.

%h3 Todavía no entiendo mucho cómo es esto...
%p
  Existe en internet una <a href="http://www.thinkchile.com/playgo">introducción interactiva</a> (requiere Java) que es bastante fácil de seguir. También podés acercarte a una de las <a href="/reuniones">reuniones de la asociación</a>, y aprender con un tablero y piedras reales.
