%img.map{ :src => '/img/mapa.gif', :alt => '[mapa del nau]' }
%p
  Si querés jugar, estudiar, o simplemente no conocés el juego y querés saber de qué se trata, podés venir a una de las reuniones semanales. Nos reunimos los martes a partir de las 18:30 en
  %a{ :href=> "http://nau64.tripod.com/" }
    %strong Nau64 Chess Club
  (Paysandú 1919 / 2).
%p{ :style => "clear: both" }
