/* CSS Document */

body{
	background: #999;
	margin:0px;
	padding:0px;
	text-align:center;
	font: 11px Arial, Helvetica, sans-serif;
}

a{
	color:#111;
	background-color:#F5F5F5;
	padding:0 2px;
	text-decoration:none;
	border-bottom:1px solid #BBB;
}

a:hover{
	background-color:#FFB;
	border-bottom:1px solid #888;
}

b{
	font-size:12px;
	letter-spacing:0;
}

em,i{
	color:#000;
	font-family:Georgia,serif;
}

.mini {
 font-size: 0.7em;
 color: #444;
}

h1,h2,h3,h4,h5,h6{
	margin:15px 40px -5px 40px;
	border-bottom:1px dotted #BBB;
	font-weight:normal;
}

h1{font-size:24px}
h2{font-size:22px}
h3{font-size:20px}
h4{font-size:18px}
h5{font-size:16px}
h6{font-size:14px}

blockquote{
	line-height:20px;
	color:#888;
	font-size:14px;
	font-weight:bold;
	width:65%;
	padding-left:80px;
	text-indent:-32px;
	margin-top:-25px;
}

blockquote .bq{
	font-size:64px;
	color:#CCC;
	position:relative;
	top:30px;left:-10px;
	line-height:54px;
}

blockquote .bqauthor{
	text-align:right;
	color:#666;
}

ul{
	list-style-type:square;
	line-height:18px;
	font-size:11px;
	letter-spacing:1px;
	padding-left:40px;
	margin-left:40px;
}

#container{
	width:650px;
	margin:auto;
	color:#333;
	height:100%;
	border-left:8px solid #666;
	border-right:8px solid #666;
}

#header{
	background:url(img/randomheader.jpg) no-repeat bottom center #FFF;
	height:232px;
	position:relative;
	top:0;
	margin:0;
}

#header p.sitename{
	color:#FF0;
	background-color:#666;
	text-align:left;
	font-size:20px;
	font-weight:lighter;
	letter-spacing:8px;
	margin:0 0 1px 0;
	padding:5px 5px;
}

span:hover .hiddentitle{
	visibility:visible;
}

.hiddentitle{
	color:#FFF;
	visibility:hidden;
	font-size:11px;
	padding:0 0 2px 20px;
	letter-spacing:1px;
}

.hiddentitle a, .footlinks a{
	color:#FFF;
	border:1px solid #CCC;
	background-color:transparent;
	padding:1px 3px;
	letter-spacing:0;
}

.hiddentitle a:hover, .footlinks a:hover, .linktitle{
	color:#666;
	border:1px solid #CCC;
	background-color:#CCC;
	padding:1px 3px;
}

#header p.nav{
	color:#FFF;
	text-align:right;
	font-size:16px;
	font-weight:normal;
	line-height:24px;
	margin:-5px 0 0 0;
	padding-top:10px;
}

.hiddeninfo{
	visibility:hidden;
	font-size:11px;
	padding-right:20px;
	font-style:italic;
}

.nav a{
	color:#FFF;
	background-color:transparent;
	text-decoration:none;
	padding:5px 10px;
	border:0;
}

.current{
	border-right:5px solid #666;
	padding-right:5px;
	margin-right:-10px;
	padding:5px;
}

.nav a:hover,a:hover .hiddeninfo{
  	visibility:visible;
	color:#FFF;
	background-color:#666;
	border:0;
}

#main{
	background-color:#FFF;
	text-align:left;
	width:100%;
	padding:10px 0 20px 0;
}

#main table{
	line-height:18px;
	letter-spacing:1px;
	margin:10px 40px;
}

#main p{
	line-height:18px;
	letter-spacing:1px;
	margin:10px 40px;
}

#footer{
	background-color:#666;
	margin-top:-10px;
	height:100px;
	text-align:left;
	color:#FFF;
}

#footer h5{
	padding:10px 10px 0 10px;
	margin:0;
}

#footer p{
	padding:10px 10px 0 10px;
	margin:0;
	line-height:20px;
}


/* NACHO */
img.image {
  margin: 5px;
}

img.right {
  float: right;

}

img.left {
  float: left;
}

/* Tabla de posiciones */
table#positionsTable {
}

table#positionsTable .roundinfo {
  text-align: center;
  padding: 0px 8px;
}

table#positionsTable td.pointsinfo {
  text-align: center;
}

table#positionsTable td.roundinfo img {
  margin: 0px 4px 0px 0px;
}
